- model_class = SurveySection
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @survey_section.name
%p
  %strong= model_class.human_attribute_name(:position) + ':'
  %br
  = @survey_section.position
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @survey_section.description
%p
  %strong= model_class.human_attribute_name(:questions) + ':'
  %br
  = @survey_section.questions

%p
  %strong= model_class.human_attribute_name(:survey_id) + ':'
  %br
  = @survey_section.survey_id


= link_to t('.back', :default => t("helpers.links.back")), survey_sections_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_survey_section_path(@survey_section), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), survey_section_path(@survey_section), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
