= simple_form_for @school, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = error_span(@school[:name])
  = f.input :inep_code
  = error_span(@school[:inep_code])
  = f.input :staff_observations
  = error_span(@school[:staff_observations])
  = f.input :kindergarten, as: :boolean
  = error_span(@school[:kindergarten])
  = f.input :elementary_1, as: :boolean
  = error_span(@school[:elementary_1])
  = f.input :elementary_2, as: :boolean
  = error_span(@school[:elementary_2])
  = f.input :highschool, as: :boolean
  = error_span(@school[:highschool])
  = f.input :technical, as: :boolean
  = error_span(@school[:technical])
  = f.input :adult, as: :boolean
  = error_span(@school[:adult])
  = f.input :student_diurnal_count
  = error_span(@school[:student_diurnal_count])
  = f.input :student_vespertine_count
  = error_span(@school[:student_vespertine_count])
  = f.input :student_nocturnal_count
  = error_span(@school[:student_nocturnal_count])
  = f.input :student_full_count
  = error_span(@school[:student_full_count])
  = f.input :staff_count
  = error_span(@school[:staff_count])
  = f.input :regional
  = error_span(@school[:regional])
  = f.input :student_observations
  = error_span(@school[:student_observations])
  = f.input :private, as: :boolean
  = error_span(@school[:private])
  = f.input :type
  = error_span(@school[:type])
  = f.input :location_type
  = error_span(@school[:location_type])
  = f.input :sample, as: :boolean
  = error_span(@school[:sample])
  = f.input :observations
  = error_span(@school[:observations])
  = f.input :vision_level
  = error_span(@school[:vision_level])
  = f.input :competence_level
  = error_span(@school[:competence_level])
  = f.input :resource_level
  = error_span(@school[:resource_level])
  = f.input :infrastructure_level
  = error_span(@school[:infrastructure_level])
  = f.input :answered, as: :boolean
  = error_span(@school[:answered])
  = f.association :city
  = error_span(@school[:city])
  = f.association :manager
  = error_span(@school[:manager])
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), schools_path, :class => 'btn btn-default'
